section {
  height: 100vh;
}
.container {
  /* position: relative; */
  /* width: 940px;
 margin: 20px; */
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit,minmax(450px)); */
  position: relative;
  /* width: 100%; */
  min-height: 100vh;
  height: 969px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.column-first {
  width: 200px;
  height: 100%;
}
.column-two {
    text-align: center;
  width: 100%;
  height: 100%;
}
.column-three {
  width: 300px;
  height: 100%;
}
